{% extends "layout/base.html" %}

{% block title%}Страница не найдена{% endblock %}
{% block og_title%}Страница не найдена{% endblock %}

{% block extra_styles%}
{% endblock %}
  
{% block content %}
    <div class="container">
        <div class="title">
            <h2>Страница не найдена</h2>
        </div>
        
        <div class="editor-content">
            <p>Запрашиваемая вами страница устарела, была удалена или не существовала вовсе.</p>
            <p><a href="/">Перейти на главную</a>.</p>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}