{% extends "layout/base.html" %}

{% block title%}Аудио-книги{% endblock %}
{% block og_title%}Аудио-книги{% endblock %}

{% block extra_styles%}
{% endblock %}
  
{% block content %}
    <div class="container">
        <div class="title">
            <h2>Аудио-книги</h2>
        </div>
        
        <article class="item">
            <div class="item__inner">
                <div class="item__img">
                    <img src="media/audio-book1.jpg" alt="Мертвая хватка">
                </div>
                <div class="item__info">
                    <h3 class="item__title">Мертвая хватка</h3>
                    <ul class="list">
                        <li class="list__item"><b>Жанр:</b> мистико-романтическая драма-триллер</li>
                        <li class="list__item"><b>Аннотация:</b>
                            <p>Стареющий писатель при весьма необычных обстоятельствах знакомится с девушкой и влюбляется в нее. Но загадочная незнакомка, овладевшая всеми его помыслами и чувствами, будто нарочно разрушает его жизнь и подталкивает к гибели.</p>
                            <p>Узнав, что возлюбленной угрожает опасность со стороны бандитов, герой не останавливается ни перед чем, вплоть до убийства, чтобы спасти ее. Он становится дичью, за которой охотятся бандиты и милиция. Выход из безвыходной ситуации не укладывается в рациональные рамки. Лишь отбросив здравый смысл, можно найти объяснение череде странных и роковых событий. А финал непредсказуем, потому что зло оборачивается добром и наоборот.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item__get">
                <a href="#">Слушать</a>
                <a href="#">Скачать</a>
            </div>
        </article>
    </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}