{% extends "layout/base.html" %}

{% block title%}{% endblock %}
{% block og_title%}{% endblock %}

{% block extra_styles%}
{% endblock %}
  
{% block content %}
    <div class="container">
        <div class="title">
            <h2>Биография</h2>
        </div>
        <div class="editor-content">
            <p><strong>Партыка Кирилл Александрович</strong> – писатель, журналист, автор романов, повестей, рассказов и стихов, неоднократно издававшихся на Дальнем Востоке, в Сибири, Москве и Петербурге. Член Союза писателей России с 1995 года. Автор и исполнитель песен разных жанров, рок-музыкант.</p>
            <p><b>Творческая направленность</b>: проза - фантастика, триллер, боевик, драма с элементами мистики; поэзия - стихи, авторская песня, рок-композиция.</p>
            <p>Родился в 1953 году в Хабаровске. Окончил филологический факультет Хабаровского педагогического института. Работал учителем в школе, железнодорожником, лаборантом в археологической экспедиции, токарем на заводе.</p>
            <p>Более 20 лет прослужил в уголовном розыске , в т. ч. в "убойном" отделе  УВД Хабаровского края. Параллельно с работой писал стихи и песни (в разные годы - лауреат фестивалей авторской песни в Хабаровске, Владивостоке, Чите, Омске), участник рок-фестивалей в Хабаровске.</p>
            <p>В начале 90-х перешел к крупному жанру: в основу романа - мистического триллера <strong>«Подземелье»</strong> (в одном из изданий - "Мутант")  - легли невыдуманные факты и опыт, приобретенный в угрозыске. Роман был признан успешным и на сегодняшний день пережил 3 издания на Дальнем Востоке.</p>
            <p>В 1994 году в звании подполковника с должности начальника отдела УУР УВД Хабаровского края вышел в отставку. После публикации «Подземелья» был приглашен на должность ответственного секретаря в Российский литературный журнал «Дальний Восток» (с 1998 по 2000 был заместителем главного редактора того же журнала, в 2014 году работал его главным редактором). В 1995 принят в Союз писателей России.</p>
            <p>Написал и опубликовал еще два романа "Час, когда придет Зуев" и "Эпицентр", ряд повестей, несколько циклов рассказов, стихотворных сборников. Хабаровская пресса окрестила автора  "дальневосточным Стивеном Кингом".</p>
            <p>За книги <strong>«Злое время»</strong> (2000) и <strong>"Эпицентр"</strong> (2010) автор дважды удостоен литературной премии Губернатора Хабаровского края.</p>
            <p>С 2000 по 2007 год работал обозревателем краевой газеты «Тихоокеанская Звезда». Очерки и статьи неоднократно становились победителями в журналистских конкурсах Правительства Хабаровского края и Мэрии Хабаровска, перепечатывались в центральных газетах "Труд", "Советник президента", "Щит и меч" (МВД РФ).</p>
            <p>С 2007 по 2015 год работал главным специалистом пресс-службы Регионального управления ФСКН России по Хабаровскому краю, как журналист публиковался во всех краевых печатных СМИ, а также в Московских газетах.</p>
            
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}