{% extends "layout/base.html" %}

{% block title%}Публицистика{% endblock %}
{% block og_title%}Публицистика{% endblock %}

{% block extra_styles%}
{% endblock %}
  
{% block content %}
    <div class="container">
        <div class="title">
            <h2>Публицистика</h2>
        </div>
        
        <article class="item">
            <div class="item__inner">
                <div class="item__img">
                    <img src="http://placehold.it/100x100/888" alt="">
                </div>
                <div class="item__info">
                    <h3 class="item__title">Название</h3>
                    <ul class="list">
                        <li class="list__item"><b>Аннотация:</b> Разнообразный и богатый опыт сложившаяся структура организации влечет за собой процесс внедрения и модернизации существенных финансовых и административных условий. Повседневная практика показывает, что постоянный количественный рост и сфера нашей активности позволяет оценить значение систем массового участия.</li>
                    </ul>
                </div>
            </div>
            <div class="item__get">
                <a href="#">Читать</a>
                <a href="#">Скачать</a>
            </div>
        </article>
    </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}