{% extends "layout/base.html" %}

{% block title%}Проза, стихи{% endblock %}
{% block og_title%}Проза, стихи{% endblock %}

{% block extra_styles%}
{% endblock %}
  
{% block content %}
    <div class="container">
        <div class="title">
            <h2>Проза, стихи</h2>
        </div>
        
        <article class="item">
            <div class="item__inner">
                <div class="item__img">
                    <img src="media/Epicentr.jpg" alt="Эпицентр">
                </div>
                <div class="item__info">
                    <h3 class="item__title">Эпицентр</h3>
                    <ul class="list">
                        <li class="list__item"><b>Жанр:</b> Фантастический роман</li>
                        <li class="list__item"><b>Аннотация:</b>
                            <p>…Ему выпало жить в земном аду, в зачумлённой Зоне, где большинство людей вымерло от неведомого недуга, а животные и растения превратились в монстров. Он был офицером-разведчиком. Но избыток опасностей и ненависти внутри изолированного периметра  сделал из него волка-одиночку по кличке Серый. У него почти нет друзей, но слишком много врагов. Чтобы выжить, он вынужден вести двойную игру, провоцировать кровавые схватки, сражаться с людьми и исчадиями взбесившейся природы.</p>
                            <p>Он сам не заметил, как Зона  связала его таинственной нитью с Эпицентром, из которого распространилось бедствие.</p>
                            <p>Серый – ключ к разгадке зловещих тайн как внутри Зоны, так и за её пределами.</p>
                            <p>…Роман «Эпицентр» продолжает лучшие традиции мастеров захватывающей фантастики.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="item__get">
                <a href="#">Читать</a>
                <a href="#">Скачать</a>
            </div>
        </article>
    </div>
{% endblock %}

{% block extra_scripts %}
{% endblock %}